@using GmWeb.Web.Identity.Models
@using GmWeb.Web.Common.Utility
@using GmWeb.Logic.Enums
@using GmWeb.Web.Identity.Helpers
@model TwoFactorConfigurationViewModel
@{
    Layout = this.SimplifiedLayout();
}
<style>
    label.gm-form-item-label {
        font-weight: 400;
        font-size: 1rem;
    }

    div.gm-form-item-cell {
        padding-left: 0px;
        padding-right: 0px;
    }

    div.tooltip-content {
        width: 250px;
    }
</style>

<div style="width: 500px">
    @using (var form = Html.GmRazor().BeginForm(opts =>
    {
        opts.GenerateItemLabels = !Model.IsTwoFactor();
        if (Model.ManagementTask == ManagementTask.Disable)
        {
            opts.SubmitLabel = "Confirm";
        }
        else
        {
            opts.Description = ViewBag.Description;
            opts.SubmitLabel = $"Submit";
        }
        opts.GenerateValidationSummary = false;
        opts.RouteQuery();
    }))
    {
        if (Model.ManagementTask == ManagementTask.Disable)
        {
            <div class="row">
                <div class="alert-warning">
                    Are you sure you want to disable your @(Model.InformationType.GetDisplayName()) configuration?
                </div>
            </div>
        }
        @Html.HiddenFor(m => m.SecretKey)
        @Html.HiddenFor(m => m.InformationType)
        @Html.HiddenFor(m => m.ManagementTask)
        @Html.HiddenFor(m => m.ReturnUrl)
        @Html.RenderTwoFactorPartial()
        @Html.GmRazor().StatusMessage()
    }
    @Html.GmRazor().BrandedFooter()
</div>
